

<h1>Welcome to one month rails!</h1>
<p>You are on the about page for One month rails application</p>

<p>This website was made by Ben2pop, under the supervision of <%=link_to 'Mathan Griefeld', "http://www.skillshare.com"%> </p>

