<div class="hero-unit">

<h1>Welcome to one month rails!</h1>
<p>You are on the home page for One month rails application</p>
<p>
	<%= link_to "Sign-up Now!", "#", class: "btn btn-primary btn-large" %> 


</div>